<!DOCTYPE html>
<html>
<head>
    <title>Product Info</title>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
</head>
<body>
    <h1>Product Information</h1>

    {% if product_name %}
        <h2>Product: {{ product_name }}</h2>
        <div id="historical-graph"></div>
        <script>
            var historicalGraph = {{ historical_graph | safe }};
            Plotly.newPlot('historical-graph', historicalGraph.data, historicalGraph.layout);
        </script>
        
        <div id="forecast-graph"></div>
        <script>
            var forecastGraph = {{ forecast_graph | safe }};
            Plotly.newPlot('forecast-graph', forecastGraph.data, forecastGraph.layout);
        </script>
    {% else %}
        <p>No product selected or product not found.</p>
    {% endif %}
</body>
</html>
